Package: calamares-settings-pika
Source: calamares-settings-ubuntu
Version: 100:5.4
Architecture: all
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Installed-Size: 120
Depends: calamares-settings-ubuntu-common (>= 100:5.4), zenity
Conflicts: calamares-settings-ubuntustudio
Breaks: calamares-settings-ubuntustudio
Section: devel
Priority: optional
Description: PikaOS Calamares Settings and Branding
 This package contains the Calamares settings and branding for PikaOS.
 As part of the branding the installer slideshow is contained within.
