[Desktop Entry]
Type=Application
Version=1.0
Name=Install Vanilla OS 22.10
Name[ca]=Instal·lar Vanilla OS 22.10
Name[da]=Installer Vanilla OS 22.10
Name[de]=Vanilla OS 22.10 installieren
Name[es]=Instalar Vanilla OS 22.10
Name[fr]=Installer Vanilla OS 22.10
Name[it]=Installa Vanilla OS 22.10
Name[no]=Installer Vanilla OS 22.10
Name[pl]=Zainstaluj Vanilla OS 22.10
Name[pt]=Instalar o Vanilla OS 22.10
Name[pt_BR]=Instalar Vanilla OS 22.10
GenericName=Install Vanilla OS
GenericName[ca]=Instal·lar Vanilla OS
GenericName[da]=Installer Vanilla OS
GenericName[de]=Vanilla OS installieren
GenericName[es]=Instalar Vanilla OS
GenericName[fr]=Installer Vanilla OS
GenericName[it]=Installa Vanilla OS
GenericName[no]=Installer Vanilla OS
GenericName[pl]=Zainstaluj Vanilla OS
GenericName[pt]=Instalar o Vanilla OS
GenericName[pt_BR]=Instalar Vanilla OS
Exec=pkexec calamares -D6
Comment=Calamares — System Installer
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
