Package: calamares-settings-ubuntustudio
Source: calamares-settings-ubuntu
Version: 0.0.14
Architecture: all
Maintainer: Vanilla OS Developers <https://github.com/vanilla-os>
Installed-Size: 2948
Depends: calamares-settings-ubuntu-common (>= 0.0.14)
Conflicts: calamares-settings-vanilla
Breaks: calamares-settings-vanilla
Section: devel
Priority: optional
Homepage: https://github.com/vanilla-os
Description: Ubuntu Studio Calamares Settings and Branding
 This package contains the Calamares settings and branding for Ubuntu Studio.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper Ubuntu Studio desktop is installed with the
 KDE Plasma desktop environment.
