[Desktop Entry]
Type=Application
Version=1.0
Name=Install Ubuntu Studio 22.10
Name[ar]=تنصيب لوبينتو 22.10
Name[ca]=Instal·lar Ubuntu Studio 22.10
Name[da]=Installer Ubuntu Studio 22.10
Name[es]=Instalar Ubuntu Studio 22.10
Name[fr]=Installer Ubuntu Studio 22.10
Name[it]=Installa Ubuntu Studio 22.10
Name[no]=Installer Ubuntu Studio 22.10
Name[pl]=Zainstaluj Ubuntu Studio 22.10
Name[pt]=Instalar o Ubuntu Studio 22.10
GenericName=Install Ubuntu Studio
GenericName[ar]=تنصيب لوبينتو
GenericName[ca]=Instal·lar Ubuntu Studio
GenericName[da]=Installer Ubuntu Studio
GenericName[de]=Ubuntu Studio installieren
GenericName[es]=Instalar Ubuntu Studio
GenericName[fr]=Installer Ubuntu Studio
GenericName[it]=Installa Ubuntu Studio
GenericName[pl]=Zainstaluj Ubuntu Studio
GenericName[pt]=Instalar o Ubuntu Studio
GenericName[pt_BR]=Instalar Ubuntu Studio
Exec=bash -c "export BROWSER='sudo -H -u ubuntu-studio firefox'; sudo -E calamares"
Comment=Calamares — System Installer
Comment[ar]=الحبار — منصب النظام
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
