Source: calamares-settings-ubuntu
Section: devel
Priority: optional
Maintainer: Vanilla OS Developers <https://github.com/vanilla-os>
Uploaders: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper-compat (= 13), intltool, qttools5-dev-tools
Standards-Version: 4.6.0

Package: calamares-settings-pika
Architecture: all
Depends: calamares-settings-ubuntu-common (>= ${binary:Version}),
         ${misc:Depends}
Breaks: calamares-settings-ubuntustudio
Conflicts: calamares-settings-ubuntustudio
Description: PikaOS Calamares Settings and Branding
 This package contains the Calamares settings and branding for PikaOS.
 As part of the branding the installer slideshow is contained within.

Package: calamares-settings-ubuntu-common
Architecture: any
Depends: calamares (>= 3.2.14~),
         cryptsetup,
         keyutils,
         python3,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         squashfs-tools,
         ${misc:Depends}
Description: Common Calamares Settings
 This package contains the common Calamares settings for all flavors.
 There is also a automirror Python script to set sources based on
 geolocation.

Package: calamares-settings-ubuntustudio
Architecture: all
Depends: calamares-settings-ubuntu-common (>= ${binary:Version}),
         ${misc:Depends}
Breaks: calamares-settings-pika
Conflicts: calamares-settings-pika
Description: Ubuntu Studio Calamares Settings and Branding
 This package contains the Calamares settings and branding for Ubuntu Studio.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper Ubuntu Studio desktop is installed with the
 KDE Plasma desktop environment.
