Source: calamares-settings-vanilla
Section: utils
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper-compat (= 13),
               intltool,
               qttools5-dev-tools, 
               libglib2.0-bin
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/Vanilla-OS
Vcs-Browser: https://github.com/Vanilla-OS
Vcs-Git: https://github.com/Vanilla-OS/calamares-settings-vanilla

Package: calamares-settings-vanilla
Architecture: all
Depends: calamares,
         cryptsetup,
         keyutils,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         ${misc:Depends}
Provides: calamares-settings
Description: Vanilla OS Calamares Settings and Branding
 This package contains the Calamares settings and branding for vanilla-os.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper Vanilla OS desktop is installed with the
 cinnamon desktop environment.