Source: calamares-settings-vanilla
Section: devel
Priority: optional
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper-compat (= 13),
               intltool,
               qttools5-dev-tools
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/Vanilla-OS
Vcs-Browser: https://github.com/Vanilla-OS
Vcs-Git: https://github.com/Vanilla-OS/calamares-settings-vanilla

Package: calamares-settings-vanilla
Architecture: amd64 arm64 mips64el ppc64el s390x
Depends: calamares-settings-ubuntu-common (>= ${binary:Version}),
         ${misc:Depends}
Conflicts: calamares-settings-vanilla
Description: Vanilla OS Calamares Settings and Branding
 This package contains the Calamares settings and branding for vanilla-os.
 As part of the branding the installer slideshow is contained within.
 The settings ensure a proper Vanilla OS desktop is installed with the
 cinnamon desktop environment.

Package: calamares-settings-ubuntu-common
Architecture: amd64 arm64 mips64el ppc64el s390x
Depends: calamares (>= 3.2.14~),
         squashfs-tools,
         python3,
         ${misc:Depends}
Description: Common Calamares Settings
 This package contains the common Calamares settings for all flavors.
 There is also a automirror Python script to set sources based on
 geolocation.
