#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_missing:
	dh_missing
	mkdir -pv debian/calamares-settings-ubuntu-common/usr/lib/$(DEB_HOST_MULTIARCH)/calamares/module
	mkdir -pv debian/calamares-settings-ubuntu-common/etc/calamares/modules
	mkdir -pv debian/calamares-settings-ubuntu-common/usr/bin
	mkdir -pv debian/calamares-settings-ubuntu-common/etc/calamares/config
	cp -vr common/modules/*.conf debian/calamares-settings-ubuntu-common/etc/calamares/modules
	cp -vr common/calamares-add-flags debian/calamares-settings-ubuntu-common/usr/bin/
	cp -vr common/calamares-logs-helper  debian/calamares-settings-ubuntu-common/usr/bin/
	cp -vr common/calamares-setup-cryptsetup debian/calamares-settings-ubuntu-common/usr/bin/
	cp -vr common/calamares-keyboard-fixer debian/calamares-settings-ubuntu-common/usr/bin/
	cp -vr common/crypt debian/calamares-settings-ubuntu-common/etc/calamares/config/
	cp -vr common/calamares-refind-hacker debian/calamares-settings-ubuntu-common/usr/bin/
	chmod -R 755 debian/calamares-settings-ubuntu-common/usr/lib/
	chmod +x debian/calamares-settings-ubuntu-common/usr/bin/*
