Package: calamares-settings-ubuntu-common
Source: calamares-settings-ubuntu
Version: 100:4.3
Architecture: amd64
Maintainer: Ward Nakchbandi <hotrod.master@hotmail.com>
Installed-Size: 38
Depends: calamares (>= 3.2.14~), cryptsetup, keyutils, python3, qml-module-qtquick-window2, qml-module-qtquick2, squashfs-tools
Section: devel
Priority: optional
Description: Common Calamares Settings
 This package contains the common Calamares settings for all flavors.
 There is also a automirror Python script to set sources based on
 geolocation.
